*{
    margin: 0%;
}
.box0{
    margin: 100px 100px 0px 100px;
    float: left;
    display: grid;
    width: 1250px;
    height: 100%;
    grid-template-columns: 1fr 1.2fr;
    border: 1px solid black;
    background-color: #dbdee3;
}
.box1{
    border: 1px solid rgb(188, 51, 51);
    height: 40vh;

}
img .amit{
    object-fit: fill;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    clip-path: circle(50% at 50% 50%);

}

#mainname{
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    text-transform: capitalize;
    text-align: center;
    font-size:50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
#box3{
    text-align: center;
    line-height: normal;
    color: #dbdee3;
}
b{
    font-size: 30px;
}
.indent{
    text-indent: 0%;
}

 #hobbies{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: rgb(9, 9, 8);

}
#list{
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(0, 0, 0);
}
#education p{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: rgb(14, 12, 12);
}
.checked {
    color: rgb(51, 27, 110);
  }
  .star{
    text-align: center;
    font-size: 30px;
    color: rgb(84, 16, 64);
    font-family: 'Luckiest Guy', cursive;
    margin-top: 20px;
  }
  table,th,td{
    border: 1px solid black;
    margin: 30px 30px 30px 80px;
    width: 500px;
    height: 50px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    word-spacing: 1px;
  }